body{
    background: #000 url('../img/bg.png');
    background-size: cover;
    overflow: hidden;
}

.container-fluid{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.game-field{
    height:80vh;
}

#head {
    overflow: hidden;
}

#stats{
    background: url('../img/stats.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12em;
    width: 38em;
    float: left;
}

#logo{
    background: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12em;
    width: 38em;
    float: right;
}

#hp-val{
    display: inline-block;
    margin-left: 13em;
    margin-top: 2.9em;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.9em;
}

#hp-bar{
    background: url('../img/hpbar.png');
    width: 335px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 172px;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid black;
}

#events{
        width: 20%;
    height: 500px;
}

#io{
        width: 70%;
    height: 500px;
}