html{
    overflow:hidden;
}
body{
    background: #000 url('../img/namebg.jpg');
    background-size: cover;
}
.name-container{
    display: flex;
    height: 100vh;
    justify-content:center;
    flex-flow:column;
}

#history{
    background: #000 url('../img/history.jpg');
    background-size: cover;
    position:absolute;
    height:100vh;
    width:100vw;
    display:none;
    margin-left: 500px;
}
#name{  
    width: 100%;
    color: red;
    font-weight: 600;
    font-size: 2.3em;
    border: none;
    text-align: center;
    outline: none;
    background: rgba(164, 164, 164, 0.34);
}

#name::-webkit-input-placeholder { 
    font-size: 0.5em; 
    line-height: 2.5em;
}

#accept a{
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    background: rgba(0, 0, 0, 0.34);
}
#accept a:hover, #accept a:focus{
   text-decoration:none;
   background: red;
}

.hint{
    color: white;
}

#subtitle{
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color:white;
}

#translate{
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color:red;
    -webkit-user-select: none; 
    cursor:pointer;
}

#translate a {
    cursor:pointer;
    color: red;
    text-decoration: none;
    -webkit-user-select: none; 
}

