/* ======================
   Variables and mixins
   ======================= */
/* ======================
   Timer Module
   ======================= */
.timer {
  height: 80px; }
  .timer.full .timer-half.right,
  .timer.full .timer-half.left {
    border: 10px solid #66BB6A;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .timer.full.negative .timer-bg {
    color: #E53935; }
  .timer.full.negative .timer-half.right,
  .timer.full.negative .timer-half.left {
    border: 10px solid #FF0000; }
  .timer .timer-bg,
  .timer .timer-half-container,
  .timer .timer-half {
    position: absolute;
    width: 80px;
    height: 80px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px; }
  .timer .timer-bg {
    border: 10px solid #FFF;
    text-align: center;
    line-height: 60px;
    vertical-align: baseline;
    font-size: 1.5em; }
    .timer .timer-bg small {
      color: #FFF;
      font-size: 0.5em; }
    .timer .timer-bg span {
      color: #FFF; }
  .timer .timer-half-container {
    clip: rect(0px, 80px, 80px, 40px); }
    .timer .timer-half-container .timer-half {
      clip: rect(0px, 40px, 80px, 0px); }
    .timer .timer-half-container.left {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.timer[data-duration="1"] .timer-half.right {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-1"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-1"] .timer-half.left {
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg);
  border: 10px solid #FF0000; }

.timer[data-duration="2"] .timer-half.right {
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  transform: rotate(12deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-2"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-2"] .timer-half.left {
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  transform: rotate(-12deg);
  border: 10px solid #FF0000; }

.timer[data-duration="3"] .timer-half.right {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-3"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-3"] .timer-half.left {
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  transform: rotate(-18deg);
  border: 10px solid #FF0000; }

.timer[data-duration="4"] .timer-half.right {
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  transform: rotate(24deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-4"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-4"] .timer-half.left {
  -webkit-transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  -ms-transform: rotate(-24deg);
  -o-transform: rotate(-24deg);
  transform: rotate(-24deg);
  border: 10px solid #FF0000; }

.timer[data-duration="5"] .timer-half.right {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-5"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-5"] .timer-half.left {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  border: 10px solid #FF0000; }

.timer[data-duration="6"] .timer-half.right {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-6"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-6"] .timer-half.left {
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  transform: rotate(-36deg);
  border: 10px solid #FF0000; }

.timer[data-duration="7"] .timer-half.right {
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  transform: rotate(42deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-7"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-7"] .timer-half.left {
  -webkit-transform: rotate(-42deg);
  -moz-transform: rotate(-42deg);
  -ms-transform: rotate(-42deg);
  -o-transform: rotate(-42deg);
  transform: rotate(-42deg);
  border: 10px solid #FF0000; }

.timer[data-duration="8"] .timer-half.right {
  -webkit-transform: rotate(48deg);
  -moz-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  -o-transform: rotate(48deg);
  transform: rotate(48deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-8"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-8"] .timer-half.left {
  -webkit-transform: rotate(-48deg);
  -moz-transform: rotate(-48deg);
  -ms-transform: rotate(-48deg);
  -o-transform: rotate(-48deg);
  transform: rotate(-48deg);
  border: 10px solid #FF0000; }

.timer[data-duration="9"] .timer-half.right {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-9"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-9"] .timer-half.left {
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  -o-transform: rotate(-54deg);
  transform: rotate(-54deg);
  border: 10px solid #FF0000; }

.timer[data-duration="10"] .timer-half.right {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-10"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-10"] .timer-half.left {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
  border: 10px solid #FF0000; }

.timer[data-duration="11"] .timer-half.right {
  -webkit-transform: rotate(66deg);
  -moz-transform: rotate(66deg);
  -ms-transform: rotate(66deg);
  -o-transform: rotate(66deg);
  transform: rotate(66deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-11"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-11"] .timer-half.left {
  -webkit-transform: rotate(-66deg);
  -moz-transform: rotate(-66deg);
  -ms-transform: rotate(-66deg);
  -o-transform: rotate(-66deg);
  transform: rotate(-66deg);
  border: 10px solid #FF0000; }

.timer[data-duration="12"] .timer-half.right {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-12"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-12"] .timer-half.left {
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -ms-transform: rotate(-72deg);
  -o-transform: rotate(-72deg);
  transform: rotate(-72deg);
  border: 10px solid #FF0000; }

.timer[data-duration="13"] .timer-half.right {
  -webkit-transform: rotate(78deg);
  -moz-transform: rotate(78deg);
  -ms-transform: rotate(78deg);
  -o-transform: rotate(78deg);
  transform: rotate(78deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-13"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-13"] .timer-half.left {
  -webkit-transform: rotate(-78deg);
  -moz-transform: rotate(-78deg);
  -ms-transform: rotate(-78deg);
  -o-transform: rotate(-78deg);
  transform: rotate(-78deg);
  border: 10px solid #FF0000; }

.timer[data-duration="14"] .timer-half.right {
  -webkit-transform: rotate(84deg);
  -moz-transform: rotate(84deg);
  -ms-transform: rotate(84deg);
  -o-transform: rotate(84deg);
  transform: rotate(84deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-14"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-14"] .timer-half.left {
  -webkit-transform: rotate(-84deg);
  -moz-transform: rotate(-84deg);
  -ms-transform: rotate(-84deg);
  -o-transform: rotate(-84deg);
  transform: rotate(-84deg);
  border: 10px solid #FF0000; }

.timer[data-duration="15"] .timer-half.right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  border: 10px solid #FF0000; }

.timer[data-duration="-15"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-15"] .timer-half.left {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border: 10px solid #FF0000; }

.timer[data-duration="16"] .timer-half.right {
  -webkit-transform: rotate(96deg);
  -moz-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  -o-transform: rotate(96deg);
  transform: rotate(96deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-16"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-16"] .timer-half.left {
  -webkit-transform: rotate(-96deg);
  -moz-transform: rotate(-96deg);
  -ms-transform: rotate(-96deg);
  -o-transform: rotate(-96deg);
  transform: rotate(-96deg);
  border: 10px solid #FF0000; }

.timer[data-duration="17"] .timer-half.right {
  -webkit-transform: rotate(102deg);
  -moz-transform: rotate(102deg);
  -ms-transform: rotate(102deg);
  -o-transform: rotate(102deg);
  transform: rotate(102deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-17"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-17"] .timer-half.left {
  -webkit-transform: rotate(-102deg);
  -moz-transform: rotate(-102deg);
  -ms-transform: rotate(-102deg);
  -o-transform: rotate(-102deg);
  transform: rotate(-102deg);
  border: 10px solid #FF0000; }

.timer[data-duration="18"] .timer-half.right {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-18"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-18"] .timer-half.left {
  -webkit-transform: rotate(-108deg);
  -moz-transform: rotate(-108deg);
  -ms-transform: rotate(-108deg);
  -o-transform: rotate(-108deg);
  transform: rotate(-108deg);
  border: 10px solid #FF0000; }

.timer[data-duration="19"] .timer-half.right {
  -webkit-transform: rotate(114deg);
  -moz-transform: rotate(114deg);
  -ms-transform: rotate(114deg);
  -o-transform: rotate(114deg);
  transform: rotate(114deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-19"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-19"] .timer-half.left {
  -webkit-transform: rotate(-114deg);
  -moz-transform: rotate(-114deg);
  -ms-transform: rotate(-114deg);
  -o-transform: rotate(-114deg);
  transform: rotate(-114deg);
  border: 10px solid #FF0000; }

.timer[data-duration="20"] .timer-half.right {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-20"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-20"] .timer-half.left {
  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  transform: rotate(-120deg);
  border: 10px solid #FF0000; }

.timer[data-duration="21"] .timer-half.right {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-21"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-21"] .timer-half.left {
  -webkit-transform: rotate(-126deg);
  -moz-transform: rotate(-126deg);
  -ms-transform: rotate(-126deg);
  -o-transform: rotate(-126deg);
  transform: rotate(-126deg);
  border: 10px solid #FF0000; }

.timer[data-duration="22"] .timer-half.right {
  -webkit-transform: rotate(132deg);
  -moz-transform: rotate(132deg);
  -ms-transform: rotate(132deg);
  -o-transform: rotate(132deg);
  transform: rotate(132deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-22"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-22"] .timer-half.left {
  -webkit-transform: rotate(-132deg);
  -moz-transform: rotate(-132deg);
  -ms-transform: rotate(-132deg);
  -o-transform: rotate(-132deg);
  transform: rotate(-132deg);
  border: 10px solid #FF0000; }

.timer[data-duration="23"] .timer-half.right {
  -webkit-transform: rotate(138deg);
  -moz-transform: rotate(138deg);
  -ms-transform: rotate(138deg);
  -o-transform: rotate(138deg);
  transform: rotate(138deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-23"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-23"] .timer-half.left {
  -webkit-transform: rotate(-138deg);
  -moz-transform: rotate(-138deg);
  -ms-transform: rotate(-138deg);
  -o-transform: rotate(-138deg);
  transform: rotate(-138deg);
  border: 10px solid #FF0000; }

.timer[data-duration="24"] .timer-half.right {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-24"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-24"] .timer-half.left {
  -webkit-transform: rotate(-144deg);
  -moz-transform: rotate(-144deg);
  -ms-transform: rotate(-144deg);
  -o-transform: rotate(-144deg);
  transform: rotate(-144deg);
  border: 10px solid #FF0000; }

.timer[data-duration="25"] .timer-half.right {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-25"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-25"] .timer-half.left {
  -webkit-transform: rotate(-150deg);
  -moz-transform: rotate(-150deg);
  -ms-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
  transform: rotate(-150deg);
  border: 10px solid #FF0000; }

.timer[data-duration="26"] .timer-half.right {
  -webkit-transform: rotate(156deg);
  -moz-transform: rotate(156deg);
  -ms-transform: rotate(156deg);
  -o-transform: rotate(156deg);
  transform: rotate(156deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-26"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-26"] .timer-half.left {
  -webkit-transform: rotate(-156deg);
  -moz-transform: rotate(-156deg);
  -ms-transform: rotate(-156deg);
  -o-transform: rotate(-156deg);
  transform: rotate(-156deg);
  border: 10px solid #FF0000; }

.timer[data-duration="27"] .timer-half.right {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-27"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-27"] .timer-half.left {
  -webkit-transform: rotate(-162deg);
  -moz-transform: rotate(-162deg);
  -ms-transform: rotate(-162deg);
  -o-transform: rotate(-162deg);
  transform: rotate(-162deg);
  border: 10px solid #FF0000; }

.timer[data-duration="28"] .timer-half.right {
  -webkit-transform: rotate(168deg);
  -moz-transform: rotate(168deg);
  -ms-transform: rotate(168deg);
  -o-transform: rotate(168deg);
  transform: rotate(168deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-28"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-28"] .timer-half.left {
  -webkit-transform: rotate(-168deg);
  -moz-transform: rotate(-168deg);
  -ms-transform: rotate(-168deg);
  -o-transform: rotate(-168deg);
  transform: rotate(-168deg);
  border: 10px solid #FF0000; }

.timer[data-duration="29"] .timer-half.right {
  -webkit-transform: rotate(174deg);
  -moz-transform: rotate(174deg);
  -ms-transform: rotate(174deg);
  -o-transform: rotate(174deg);
  transform: rotate(174deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-29"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-29"] .timer-half.left {
  -webkit-transform: rotate(-174deg);
  -moz-transform: rotate(-174deg);
  -ms-transform: rotate(-174deg);
  -o-transform: rotate(-174deg);
  transform: rotate(-174deg);
  border: 10px solid #FF0000; }

.timer[data-duration="30"] .timer-half.right {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  border: 10px solid #66BB6A; }

.timer[data-duration="-30"] .timer-bg {
  color: #E53935; }

.timer[data-duration="-30"] .timer-half.left {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  border: 10px solid #FF0000; }

.timer[data-duration="31"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="31"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(186deg);
  -moz-transform: rotate(186deg);
  -ms-transform: rotate(186deg);
  -o-transform: rotate(186deg);
  transform: rotate(186deg); }

.timer[data-duration="32"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="32"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(192deg);
  -moz-transform: rotate(192deg);
  -ms-transform: rotate(192deg);
  -o-transform: rotate(192deg);
  transform: rotate(192deg); }

.timer[data-duration="33"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="33"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg); }

.timer[data-duration="34"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="34"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(204deg);
  -moz-transform: rotate(204deg);
  -ms-transform: rotate(204deg);
  -o-transform: rotate(204deg);
  transform: rotate(204deg); }

.timer[data-duration="35"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="35"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg); }

.timer[data-duration="36"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="36"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg); }

.timer[data-duration="37"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="37"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(222deg);
  -moz-transform: rotate(222deg);
  -ms-transform: rotate(222deg);
  -o-transform: rotate(222deg);
  transform: rotate(222deg); }

.timer[data-duration="38"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="38"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(228deg);
  -moz-transform: rotate(228deg);
  -ms-transform: rotate(228deg);
  -o-transform: rotate(228deg);
  transform: rotate(228deg); }

.timer[data-duration="39"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="39"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg); }

.timer[data-duration="40"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="40"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg); }

.timer[data-duration="41"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="41"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(246deg);
  -moz-transform: rotate(246deg);
  -ms-transform: rotate(246deg);
  -o-transform: rotate(246deg);
  transform: rotate(246deg); }

.timer[data-duration="42"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="42"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg); }

.timer[data-duration="43"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="43"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(258deg);
  -moz-transform: rotate(258deg);
  -ms-transform: rotate(258deg);
  -o-transform: rotate(258deg);
  transform: rotate(258deg); }

.timer[data-duration="44"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="44"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(264deg);
  -moz-transform: rotate(264deg);
  -ms-transform: rotate(264deg);
  -o-transform: rotate(264deg);
  transform: rotate(264deg); }

.timer[data-duration="45"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="45"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg); }

.timer[data-duration="46"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="46"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(276deg);
  -moz-transform: rotate(276deg);
  -ms-transform: rotate(276deg);
  -o-transform: rotate(276deg);
  transform: rotate(276deg); }

.timer[data-duration="47"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="47"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(282deg);
  -moz-transform: rotate(282deg);
  -ms-transform: rotate(282deg);
  -o-transform: rotate(282deg);
  transform: rotate(282deg); }

.timer[data-duration="48"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="48"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg); }

.timer[data-duration="49"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="49"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(294deg);
  -moz-transform: rotate(294deg);
  -ms-transform: rotate(294deg);
  -o-transform: rotate(294deg);
  transform: rotate(294deg); }

.timer[data-duration="50"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="50"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg); }

.timer[data-duration="51"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="51"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg); }

.timer[data-duration="52"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="52"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(312deg);
  -moz-transform: rotate(312deg);
  -ms-transform: rotate(312deg);
  -o-transform: rotate(312deg);
  transform: rotate(312deg); }

.timer[data-duration="53"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="53"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(318deg);
  -moz-transform: rotate(318deg);
  -ms-transform: rotate(318deg);
  -o-transform: rotate(318deg);
  transform: rotate(318deg); }

.timer[data-duration="54"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="54"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg); }

.timer[data-duration="55"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="55"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg); }

.timer[data-duration="56"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="56"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(336deg);
  -moz-transform: rotate(336deg);
  -ms-transform: rotate(336deg);
  -o-transform: rotate(336deg);
  transform: rotate(336deg); }

.timer[data-duration="57"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="57"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg); }

.timer[data-duration="58"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="58"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(348deg);
  -moz-transform: rotate(348deg);
  -ms-transform: rotate(348deg);
  -o-transform: rotate(348deg);
  transform: rotate(348deg); }

.timer[data-duration="59"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="59"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(354deg);
  -moz-transform: rotate(354deg);
  -ms-transform: rotate(354deg);
  -o-transform: rotate(354deg);
  transform: rotate(354deg); }

.timer[data-duration="60"] .timer-half.right {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.timer[data-duration="60"] .timer-half.left {
  border: 10px solid #66BB6A;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg); }
